@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/Tiempos-Headline-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/Tiempos-Headline-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/Tiempos-Headline-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/Tiempos-Headline-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'Adelle Sans';
    src: url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_bold-webfont.eot');
    src: url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_bold-webfont.woff2') format('woff2'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_bold-webfont.woff') format('woff'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_bold-webfont.ttf') format('truetype'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_bold-webfont.svg#adelle_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Adelle Sans';
    src: url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_bolditalic-webfont.eot');
    src: url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_bolditalic-webfont.woff2') format('woff2'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_bolditalic-webfont.woff') format('woff'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_bolditalic-webfont.ttf') format('truetype'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_bolditalic-webfont.svg#adelle_sansbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Adelle Sans';
    src: url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_italic-webfont.eot');
    src: url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_italic-webfont.woff2') format('woff2'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_italic-webfont.woff') format('woff'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_italic-webfont.ttf') format('truetype'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_italic-webfont.svg#adelle_sansitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Adelle Sans';
    src: url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_regular-webfont.eot');
    src: url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_regular-webfont.woff2') format('woff2'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_regular-webfont.woff') format('woff'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_regular-webfont.ttf') format('truetype'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_regular-webfont.svg#adelle_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}